/webpage/favicon.ico
/webpage/assets/images/
/webpage/assets/dist/
/webpage/node_modules/
/webpage/package.json
/webpage/package-lock.json
/server_generator/Debug/
/server_generator/Release/
/server_generator/pdf/
/server_generator/.metadata/
/server_generator/tests/
/server_generator/build/
/server_generator/build_test/
/server_generator/cmake-build-debug/
.env
.claude/
